<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Amazon ECE</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css.css" rel="stylesheet" type="text/css"/>

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">
<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar  navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
      <a class="navbar-brand amazon1" href="#"> Amazon ECE  
        <img src="Logo_ECE_Paris.png" width="90" height="20"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
             <div class="dropdown">
              <button class="btn nav-link dropdown-toggle active" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Catégorie<ion-icon name="clipboard"></ion-icon>

              </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <a class="dropdown-item" href="#">Livres <ion-icon name="book"></ion-icon></a>

              <a class="dropdown-item" href="#">Musiques <ion-icon name="volume-high"></ion-icon></a>

              <a class="dropdown-item" href="#">Sports et loisirs <ion-icon name="basketball"></ion-icon></a>

              <a class="dropdown-item" href="#">Vetements <ion-icon name="woman"></ion-icon></ion-icon></a>

            </div>
          </div> 
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="#">Top ventes<ion-icon name="bookmark"></ion-icon></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Vendre<ion-icon name="briefcase"></ion-icon></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Votre compte<ion-icon name="person"></ion-icon></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Panier<ion-icon name="cart"></ion-icon></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Admin<ion-icon name="school"></ion-icon></a>
          </li>
          <img src="profil.png" width="30" height="30">

        </ul>
      </div>
    </div>
  </nav>


   
  <br>
    
    <!-- Page Content -->
<div class="container">

      <!-- Page Heading -->
      <center>
      <h1 class="my-4">Panier</h1>
      <hr color ="black">
      </center>

  <br>
  <br>
<!-- Project One -->

    <div class="row">

        <div class="col-md-7">
            <center>

          <a href="#"><img class="img-fluid rounded mb-7 mb-md-0" src="http://placehold.it/700x300" alt="">
          </a>
        </center>
        </div>

    <div class="col-md-5">
          <h4> Article 1 </h4>
           <div align="justify">
            <p> Description </p>
          </div>
      
          <select name= "choixquantite" value= "Sélectionner la quantite"> </select>
          <option value = "selectionner">Quantite</option> 
      </div>

        </div>

    </div>
</div>
<hr>
<!-- Project Two -->
<div class="container">

<br>
<br>
  
        <div class="row">

        <div class="col-md-7">
            <center>

          <a href="#"><img class="img-fluid rounded mb-7 mb-md-0" src="http://placehold.it/700x300" alt="">
          </a>
        </center>
        </div>

    <div class="col-md-5">
          <h4> Article 2 </h4>
           <div align="justify">
            <p> Description </p>
          </div>
      
          <select name= "choixquantite" value= "Sélectionner la quantite"> </select>
          <option value = "selectionner">Quantite</option> 
      </div>

        </div>

    </div>

</div>
<hr color = "black">

      <div class="container">
         <div class="row">
            <div>
         
          <h3>Sous-Total</h3>
                   
   <div align = right>
          <button class="btn btn-secondary float-right" type="submit" >Passer commande</button>
          </div>
        
            </div>
          </div>
      </div>

      <br>
      <br>



  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

      <!-- /.row -->
</html>